<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Artists</title>
</head>
<body>
	<h1>Welcome to THE: The greates music app ever </h1>
	<a href="/artists"> Enter </a>
</body>
</html>